:root {
    --primare-font-family: 'Roboto', sans-serif;
    --second-font-family: 'Raleway', sans-serif;
    --primare-text-color-theme-dark: #212121;
    --secondary-text-color-theme-dark: #757575;
    --primare-text-color-theme-light: #ffffff;
    --secondary-text-color-theme-light: rgba(255, 255, 255, 0.6);
    --accent-color: #2196F3;
    --part-logo-color: #000000;
    --first-decoration-backgraund: #2F303A;
    --second-decoration-backgroend: #F5F4FA;
}


.container {
    width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

body {
    font-family: var(--primare-font-family);
    color: var(--primare-text-color-theme-dark);
}


.link {
    text-decoration: none;
}


.list {
    list-style: none;
}

.logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.38;
    letter-spacing: 0.03em;
    color: var(--accent-color);
}

.part-logo {
    color: var(--part-logo-color);
}

.nav-link-item {
    display: inline;
}

.nav-link-list {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.4;
    letter-spacing: 0.02em;
    color: var(--primare-text-color-theme-dark);
}

.nav-link-list:hover,
.nav-link-list:focus {
    color: var(--accent-color);
}

.hero-title {
    position: absolute;
    width: 696px;
    height: 120px;
    left: 452px;
    top: 280px;
}

.hero-button {
    position: absolute;
    width: 200px;
    height: 50px;
    left: 700px;
    top: 430px;
}

.contact-mail,
.contact-number {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.4;
    letter-spacing: 0.02em;
    color: var(--primare-text-color-theme-dark);
}

.contact-mail:hover,
.contact-mail:focus {
    color: var(--accent-color);
}

.contact-number:hover,
.contact-number:focus {
    color: var(--accent-color);
}

.active {
    color: var(--accent-color);
}

/*---------START HERO---------*/


.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;
    color: var(--primare-text-color-theme-light);
}

.hero-button {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    text-align: center;
    width: 216px;
    height: 50px;
    border-radius: 4px;
    border: 1px solid transparent;
    color: var(--primare-text-color-theme-light);
}

.hero-button:hover,
.hero-button:focus {
    background-color: var(--accent-color);
}

.decoration {
    background: var(--first-decoration-backgraund);
}

.position {
    text-align: center;
}

/*--------END HERO-----------*/
/*-----START ADVANTAGES------*/

.advantages-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.advantages-desc {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color-theme-dark);
}

.main-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
}

/*------END ADVANTAGES-------*/
/*-----START EMPLOYEES------*/

.decoration-background {
    background-color: var(--second-decoration-backgroend);
}

.employees-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
}

.employees-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.employees-position {
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color-theme-dark);
}

/*-----END EMPLOYEES-----*/
/*-----START FOOTER------*/

.address {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--primare-text-color-theme-light);
}

.info-mail {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color-theme-light);
}

.info-mail:hover,
.info-mail:focus {
    color: var(--primare-text-color-theme-light);
}


.info-number {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color-theme-light);
}

.info-number:hover,
.info-number:focus {
    color: var(--primare-text-color-theme-light);
}

/*---------END FOOTER---------*/

/*---------PORTFOLIO----------*/

/*------START PROJECT------*/

.project-list-item {
    display: inline;
}


.headline-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    cursor: pointer;
    background-color: var(--second-decoration-backgroend);
}

.headline-btn:hover,
.headline-btn:focus {
    background-color: var(--accent-color);
    color: var(--primare-text-color-theme-light);
}

.active-btn {
    background-color: var(--accent-color);
    color: var(--primare-text-color-theme-light);
}

.project-name {
    font-weight: 700;
    font-size: 18px;
    line-height: 2.00;
    letter-spacing: 0.06em;
}

.project-department {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color-theme-dark);
}


/*------END PROJECT------*/